@model Projek_Restoran.Models.Produk

@{
    ViewData["Title"] = "Delete";
}

<h2>Hapus Data</h2>

<h3>Apakah Kamu Yakin Ingin Menghapus ini ?</h3>
<div>
    <h4>Produk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Harga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Harga)
        </dd>
        <dt>
            @Html.DisplayName("Kategori")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdKategoriNavigation.IdKategori)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProduk" />
        <input type="submit" value="Hapus" class="btn btn-danger" /> |
        <a asp-action="Index">Kembali</a>
    </form>
</div>
