@model IEnumerable<Projek_Restoran.Models.Produk>

@{
    ViewData["Title"] = "Produk";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Tambah Data</a>
</p>
@using (Html.BeginForm("index", "Produk", FormMethod.Get))
{
    <p>
        Nama: @Html.DropDownList("ket", null, "Pilih Nama", new { @class = "form-control"})
        Cari Data : @Html.TextBox("searchString", null, new { @class = "form-control", @style = "margin: 10px 0px 10px 0px;", @placeholder = "Nama" })
        <input class="btn btn-primary" type ="submit" value="filter"/>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harga)
            </th>
            <th>
                @Html.DisplayName("Kategori")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKategoriNavigation.NamaKategori)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduk">Ubah</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduk">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduk">Hapus</a>
            </td>
        </tr>
}
    </tbody>
</table>
