@model Projek_Restoran.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h2>Hapus Data</h2>

<h3>Apakah Kamu Yakin Ingin Menghapus ini ?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nama User")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt>
            @Html.DisplayName("Nomor HP")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoHp)
        </dd>
        <dt>
            @Html.DisplayName("Username")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayName("Password")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUser" />
        <input type="submit" value="Hapus" class="btn btn-default" /> |
        <a asp-action="Index">Kembali</a>
    </form>
</div>
