@model IEnumerable<Projek_Restoran.Models.Meja>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("No Meja")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomorMeja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMeja">Ubah</a> |
                <a asp-action="Details" asp-route-id="@item.IdMeja">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMeja">Hapus</a>
            </td>
        </tr>
}
    </tbody>
</table>
