@model Projek_Restoran.Models.Pesanan

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Pesanan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nama Customer")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaCustomer)
        </dd>
        <dt>
            @Html.DisplayName("Jumlah")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jumlah)
        </dd>
        <dt>
            @Html.DisplayName("Tanggal")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tanggal)
        </dd>
        <dt>
            @Html.DisplayName("Keterangan")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Keterangan)
        </dd>
        <dt>
            @Html.DisplayName("No Meja")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdMeja)
        </dd>
        <dt>
            @Html.DisplayName("Jenis Pesanan")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdJenisPesananNavigation.NamaJenisPesanan)
        </dd>
        <dt>
            @Html.DisplayName("Produk")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProdukNavigation.Nama)
        </dd>
        <dt>
            @Html.DisplayName("Admin")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUserNavigation.Nama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPesanan">Ubah</a> |
    <a asp-action="Index">Kembali</a>
</div>
