@model IEnumerable<Projek_Restoran.Models.Pesanan>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jumlah)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keterangan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMeja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdJenisPesananNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProdukNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUser1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keterangan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMeja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJenisPesananNavigation.IdJenisPesanan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdukNavigation.IdProduk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser1.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserNavigation.IdMeja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPesanan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPesanan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPesanan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
