@model IEnumerable<Projek_Restoran.Models.Pesanan>

@{
    ViewData["Title"] = "Pesanan";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Tambah Data</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Pesanan", FormMethod.Get))
    {
        <div class="col-md-4">
            @Html.DropDownList("Jenis", null, "Pilih Jenis Pesanan", new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.DropDownList("Produk", null, "Pilih Produk", new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.DropDownList("Admin", null, "Pilih Admin", new { @class = "form-control" })
        </div>
        <div class="col-md-12" style="margin: 10px 0px 10px 0px;">
            @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Nama Customer atau Keterangan" })
        </div>

        <div class="col-md-12">
            <input class="btn btn-primary" type="submit" value="Search" />
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Customer")
            </th>
            <th>
                @Html.DisplayName("Produk")
            </th>
            <th>
                @Html.DisplayName("Jumlah")
            </th>
            <th>
                @Html.DisplayName("Jenis Pesanan")
            </th>
            <th>
                @Html.DisplayName("Nomor Meja")
            </th>
            <th>
                @Html.DisplayName("Tanggal")
            </th>
            <th>
                @Html.DisplayName("Keterangan")
            </th>
            <th>
                @Html.DisplayName("Admin")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdukNavigation.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJenisPesananNavigation.NamaJenisPesanan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMejaNavigation.NomorMeja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keterangan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserNavigation.Nama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPesanan">Ubah</a> |
                <a asp-action="Details" asp-route-id="@item.IdPesanan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPesanan">Hapus</a>
            </td>
        </tr>
        }
    </tbody>
</table>
