@model IEnumerable<Projek_Restoran.Models.JenisPesanan>

@{
    ViewData["Title"] = "Index";
}

<h2>Tambah Data Jenis Pesanan</h2>

<p>
    <a asp-action="Create">Buat Baru</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Jenis Pesanan")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaJenisPesanan)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdJenisPesanan">Ubah</a> |
                    <a asp-action="Details" asp-route-id="@item.IdJenisPesanan">Detail</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdJenisPesanan">Hapus</a>
                </td>
            </tr>
        }
    </tbody>
</table>
